*{
    margin:0;
    padding:0;
}
ul, li{
    list-style: none;
}
.mask{
    position: fixed;
    width:100%;
    height:100%;
    background-color: #080808;
    opacity: .5;
    top:0;
}

.hide-scroll::-webkit-scrollbar{
    display: none;
}

.mask .loading{
    width:70px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.popup-body .body-content textarea::-webkit-scrollbar{
    display: none;
}

.popup-body .body-content textarea{
    overflow: auto;
    padding: 30px 0;
    height: 250px !important;
}

.attitude{
    font-family: KaiTi;
    font-size: 20px;
    margin-top: 7px;
}
.header{
    color:#F5FFFA;
    padding: 18px 0;
    position: relative;
}
.header-title{
    font-family: monospace;
    font-size: 30px;
    letter-spacing: 3px;
}
.mask{
    position: fixed;
    width:100%;
    height:100%;
    z-index: 10000;
    opacity: .5;
    top:0;
}

.add-position{
    font-size: 25px;
    position: absolute;
    color: #4682B4;
    right: 68px;
}

.fl{
    float:left;
}

.ell{
    overflow: hidden;    
    text-overflow:ellipsis;
    white-space: nowrap;
}

.popup-mask{
    position: fixed;
    width:100%;
    height:100%;
    z-index: -1;
    opacity: .5;
    top:0;
}

.mask .loading{
    width:70px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
